.about-section {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.about-section > img {
    height: 300px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.125);
}

.about-section > div {
    padding: 25px;
}

@media only screen and (max-width: 1000px) {
    .about-section:nth-child(even) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about-section:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-section > img {
        height: auto;
        width: 85%;
        margin: 20px 0px;
    }
  }