#home-page {
    background-image: url("https://res.cloudinary.com/justin-bresee/image/upload/v1634579491/StayTraders/pexels-binyamin-mellish-106399_tbjudh.jpg");
    height: 93vh;
    background-size:cover;
    background-position: center;
}

#listing-swiper-container {
    background-color: black;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#listing-swiper-container a {
    opacity: 1 !important;
}

#listing-swiper-container  div {
  background-color: rgb(173, 163, 163);
  height: 100%;
}

.listing-images {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
}

#like-button {
    position: absolute;
    top: calc(100%  - 8em);
    left: calc(50% - 8em);
    transform: scale(1,1);
    transition: 0.3s;
}

#like-button:hover {
    transform: scale(1.1,1.1);
}

#dislike-button {
    position: absolute;
    top: calc(100%  - 8em);
    left: calc(50% + 3em);
    transform: scale(1,1);
    transition: 0.3s;
}

#dislike-button:hover {
    transform: scale(1.1,1.1);
}

#home-hero {
    background-color: black;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#home-hero div {
    text-align: center;
    text-decoration: none;
}

#home-hero h1 {
    margin-bottom: 30px;
}

#home-hero a{
    text-decoration: none;
    color: #333;
    padding: 12px 20px;
    background-color: var(--secondary);
    border-radius: 50px;
}

