.secure-text input {
    -webkit-text-security: disc;
}

#register-form {
    width: 50vw;
    margin: 0 auto;
}

#terms-of-service {
    display: flex;
}

@media only screen and (max-width: 900px) {
    #register-form {
        width: 100%;
    }
  }