:root {
  --primary: #0d6efd;
  --secondary: #cafe48;
}

.nav-dropdown-button {
  align-self: center;
}

#unread-message-count {
  position: relative;
  top: 13px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 0px 8px;
  height: 25px;
  border-radius: 50%;
}

#unread-message-count-toggle {
  position: relative;
  top: 0px;
  right: -43px;
  background-color: red;
  color: white;
  padding: 0px 8px;
  width: 25px;
  border-radius: 50%;
}

.navbar-toggler {
  top: 15px !important;
  right: 0px !important;
}

#help-button {
  position:fixed;
  bottom: 18px;
  right: 18px;
  transform: scale(1)
}

#help-button:hover {
  transform: scale(1.1);
  transition: .5s;
}


@media only screen and (max-width: 992px) {
  #profile-pic {
    display: none;
  }

  .nav-dropdown-button {
    width: 100%;
    text-align: center !important;
  }

  .dropdown-menu {
    text-align: center !important;
  }

  #unread-message-count  {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) { 
  #unread-message-count-toggle {
    display: none !important;
  }

}